section {
    border: 5px solid red;
}

section figure {
    border: 5px solid var(--img-border-color);
}

section header {
    border: 5px solid blue;
}

section article {
    border: 5px solid yellow;
}

section header p {
    background: blue;
}

section header h2 {
    background: darkblue;
}

header {
background: rgb(16, 44, 88);
}

:root {
    --img-border-color: yellow;
}
article p {
    background: green;
}

@media (--medium-screen) {
    :root {
        --img-border-color: pink;
        --max-img-size: 500px;
        --background-color: pink; /*color(black lightness(50%));*/
    }
}

img {
    border: 10px solid var(--img-border-color);
}


@media (width>=$large-viewport) {
    :root {
        --max-img-size: 700px;
        --background-color: yellow; /*color(black lightness(75%));*/

    }
}