section {
    padding: 0;
    margin: 0 auto;
}

figure {
    max-width: var(--max-img-size);
    margin: 0 auto 30px;
    & img {
        width: 100%;
        margin: 0;
    }
    & svg {
        width: 100%;
        padding: 0;
        margin-bottom: -24px;
    }
}

h2 {
    font-size: 2em;
    text-align: center;
}


p.blurb {
    font-size: 1.1em;
    text-align: center;
    max-width: var(--max-img-size);
    margin: 2em auto;
}

article {
    margin: 1em auto 60px;
    max-width: var(--max-content-size);
}

article p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    text-align: justify;
}

section.intro h2,
section.intro p.blurb::first-line {
    color: var(--section-intro-color);
}

section.flex h2,
section.flex p.blurb::first-line {
    color: var(--section-flex-color);
}

section.elec h2,
section.elec p.blurb::first-line {
    color: var(--section-elec-color);
}

@media (--medium-screen) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 4px;
        margin: 0;
        padding: 0;
    }
    figure {
        grid-row: 1/6;
        grid-column: 1/6;
        margin: 0;
        padding: 0;
    }
    h2 {
        grid-column: 7/13;
        grid-row: 1;
        margin: 60px 0;
    }
    p.blurb {
        margin: 60px 0 0;
        grid-column: 3/6;
        grid-row: 6;
        max-width: 200px;
        text-align: right;
    }
    article {
        min-height: 100vh;
        margin: 0;
        grid-column: 7/13;
        grid-row: 2/8;
    }
}