:root {
    --warning-color: yellow;
    --section-intro-color: #8DD9F5;
    --section-flex-color: #FAD975;
    --section-elec-color: #C1F2C2;
    --max-img-size: 300px;
    --background-color: black;
    --max-content-size: 300px;
}

$medium-viewport: 640px;
$large-viewport: 1200px;

@custom-media --medium-screen ($medium-viewport <= width <=$large-viewport);
@custom-media --large-screen (width>=$large-viewport);

@media (--medium-screen) {
    :root {
       --max-content-size: 700px;
        --max-img-size: 360px;
    }
}

@media (--large-screen) {
    :root {
        --max-content-size: 700px;
        --max-img-size: 450px;
    }
}