@import "reset";
@import "variables";
@import "typography";
@import "image";
@import "section";

/* @import "debug"; */

html, body {
  background: var(--background-color);
  height: 100%;
  width: 100%;
  font-size: 14px;
}

noscript {
  color: orangered;
}
