@import "reset";
@import "variables";
@import "typography";
@import "image";
@import "section";

/* @import "debug"; */

html, body {
  background: black;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

blockquote {
  display: block;
  width: fit-content;
  font-weight: 300;
}

noscript {
  color: yellow;
}
